body {
  margin: 0 !important;
  font-family: "Poppins";
  padding: 0 !important;
}
.dashboard-container {
  /* Layout Properties */
  margin-top: 0px;
  height: 100vh;
  display: flex;
  /* UI Properties */
  background: var(#ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.sidebar-image-container {
  background: url("./bank/images/Rectangle\ 2010.png");
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  opacity: 1;
  position: fixed;
  margin-top: 0px;
  width: 250px;
  background-color: #0d1d29;
  border-radius: 0px 50px 50px 0px;
}
.container-navbar {
  border-bottom: 3px solid #eeeeee;
  padding-right: 45px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.container-content {
  padding-left: 22%;
  display: flex;
  flex-direction: column;
  padding-top: 1%;
  padding-right: 5%;
}
.container-content-top {
  display: flex;
  padding-top: 5px;
  width: 70%;
  border-bottom: 2px solid #d5d5d5;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container-content-top-text {
  display: flex;
  flex-direction: column;
}
.container-content-top-text-top {
  text-align: left;
  margin-bottom: 2px;
  margin-top: 0px;
  font-size: 25px;
  font-weight: bold;
  font-family: "Poppins";
  color: #09285a;
  text-transform: capitalize;
}

.container-content-top-mid {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
}
.container-content-top-mid-img-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.container-content-top-mid-text {
  font: normal normal 600 18px "Poppins";
  letter-spacing: 0px;
  color: #09285a;
  text-transform: capitalize;
}
.container-content-top-mid-img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}
.container-content-top-mid-button {
  border-radius: 10px;
  opacity: 1;
  margin-left: 7px;
  background-color: #037ae0;
  border-color: transparent;
  font-size: 12px;
  font-family: "Poppins";
  font-weight: 500;
  cursor: pointer;
  height: 27px;
  width: 65px;
  color: #ffffff;
}
.container-content-top-mid-button:hover {
  background-color: #09285a;
}

.container-content-bottom {
  display: flex;
  height: 60%;
  flex-direction: column;
}
.container-content-bottom-top {
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 24%;
}
.container-content-bottom-top-text {
  text-align: left;
  font: normal normal 600 18px "Poppins";
  letter-spacing: 0px;
  color: #09285a;
  text-transform: capitalize;
}
.container-content-bottom-bottom {
  display: flex;
  width: 80%;
  justify-content: space-around;
}
.container-content-bottom-bottom-left {
  width: 70%;
}
.container-content-bottom-bottom-right {
  width: 20%;
}
.container-content-bottom-bottom-left-container {
  display: flex;
  flex-direction: row;
  height: 20px;
  margin-bottom: 15px;
  justify-content: space-evenly;
  align-items: center;
}
.discard {
  background-color: #d90429 !important;
}
.discard:hover {
  background-color: #a20520 !important;
}
.save {
  background-color: #00c689 !important;
}
.save:hover {
  background-color: #08a776 !important;
}
.container-content-bottom-bottom-left-title {
  text-align: left;
  font: normal normal 500 16px "Poppins";
  color: #09285a;
  width: 40%;
  text-transform: capitalize;
}
.container-content-bottom-bottom-left-value-input {
  font: normal normal normal 14px "Poppins";
  letter-spacing: 0px;
  color: #09285a;
  width: 50%;
  border: 0.5px solid #0d1d29;
  padding-left: 5px;
  border-radius: 8px 8px 8px 8px;
  opacity: 1;
  text-align: left;
  text-transform: capitalize;
  opacity: 1;
}
.container-navbar-title {
  font: normal normal normal 16px "Poppins";
}
.container-navbar-img {
  margin-left: 30px;
  width: 48px;
}
.container-navbar-name {
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 600;
  color: #09285a;
}
.go-back {
  margin-bottom: 10px;
  font: normal normal normal 14px "Poppins";
  display: flex;
  color: #09285a;
  align-items: center;
  width: 20%;
  justify-content: space-between;
}

.sidebar-image-container-1 {
  background: url("../../images/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position-x: 80px;
  background-position-y: 30px;
  height: 100%;
  background-size: 80px;
  color: #ffffff;
}
.sidebar-button-container {
  height: 56%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}

.sidebar-button-container-div {
  width: 85%;
}
.sidebar-logout-container {
  justify-content: flex-end;
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 10px;
}
.sidebar-logout-button-container-inner {
  position: absolute;
  height: 28px;
  width: 28px;
  margin-left: -30px;
  margin-top: 16px;
}
.sidebar-logout-button {
  width: 100%;
  text-align: left;
  height: 60px;
  padding-left: 15px;
  margin-bottom: 20px;
  border-radius: 20px 0px 0px 20px;
  border-style: solid;
  border-color: transparent;
  background-color: transparent;
  color: #ffffff;
  font-weight: normal;
  font-family: "Poppins";
  font-size: 18px;
}
.sidebar-button-container-rectangle {
  position: absolute;
  margin-left: -35px;
  margin-top: 5px;
  height: 52px;
}

.sidebar-button-container-inner {
  position: absolute;
  height: 23px;
  width: 23px;
  margin-left: -20px;
  margin-top: 19px;
}
.sidebar-button {
  width: 100%;
  text-align: left;
  height: 60px;
  padding-left: 25px;
  border-radius: 20px 0px 0px 20px;
  border-style: solid;
  border-color: transparent;
  background-color: transparent;
  color: #ffffff;
  font: normal normal 600 14px "Poppins";
}

.sidebar-button-active {
  padding-left: 25px;
  width: 100%;
  text-align: left;
  height: 60px;
  border-color: transparent;
  background-color: #037ae0;
  border-radius: 20px 0px 0px 20px;
  border-style: solid;
  color: #ffffff;
  font: normal normal 600 14px "Poppins";
}
